/* CSS DOCUMENT */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
}

header h1 {
    font-family: sans-serif;
    margin-top: 20px;
    color: #fff;
}

main {
    width: 70vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
}

main input[type="number"],div {
    width: 60%;
    height: 40px;
    margin-top: 10px;
    padding: 5px;
    outline: none;
    border: 2px solid purple;
    border-radius: 5px;
    color: rgb(48, 48, 48);
}

div {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: purple;
}

fieldset {
    width: 60%;
    font-family: sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: purple;
}

button {
    width: 80%;
    height: 30px;
    margin: 5px;
    background-color: purple;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}