/* CSS DOCUMENT */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #414141;
}

header#cabecalho h1 {
    color: #fff;
    margin-top: 20px;
}

section#conteudo {
    width: 60vw;
    max-width: 400px;
    min-width: 400px;
    height: 390px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.363);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
}
label {
    color: #575757;
}
span {
    color: #09c;
    font-weight: bold;
}
button,input[type="number"] {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    background-color: #09c;
    padding: 5px;
    border-radius: 7px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

input[type="number"] {
    width: 150px;
    background-color: #ddd;
    color: #09c;
}

p {
    /* margin-top: 10px; */
    font-weight: bold;
}
/* div#campo_img {
    width: 180px;
    height: 180px;
    border-radius: 50%; 
    background: url(../_assets/img02.jpg);
    background-size: cover;
    background-position: center; 
    margin: 10px auto;
} */

footer#rodape p{
    color: #fff;
}